[run]
branch = True
source =
    djangoProject
    communications
    dashboard
    profiles
    projects
    users

[report]
omit =
    */tests/*
    */migrations/*
    */admin.py
    */apps.py
    */wsgi.py
    */settings.py

fail_under = 80
